ion-item {
    --background: #F8F3E6;
    padding-top: 20px;
    color: rgb(192, 0, 0);
  
    --detail-icon-color: rgb(0, 0, 0);
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;
  }
  
  
  ion-content{
    
    --background: #F8F3E6;
  }