<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">

    <ion-item button routerLink="/home">
      <ion-label>Home</ion-label>
    </ion-item>

    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>

    <ion-item button routerLink="/cadastrar">
      <ion-label>Cadastrar</ion-label>
    </ion-item>

    <ion-item button routerLink="/ongs">
      <ion-label>ONGS LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/entrevistas">
      <ion-label>Entrevistas</ion-label>
    </ion-item>

    <ion-item button routerLink="/figuras">
      <ion-label>Figuras LGBTQ+</ion-label>
    </ion-item>

   
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content class="ion-padding">
  <h1 style="padding: 20px; font-size: 35px;">O Legado de Paulo Gustavo</h1>



  <p align="center">
    <img width="460" height="300" src="https://odia.ig.com.br/_midias/jpg/2021/05/04/1200x750/1_paulo_gustavo_400951_36-21829318.jpg">
  </p>
  <h2 style="font-weight: bold;">Sua História</h2>

  <p>
    Paulo Gustavo nasceu em 30 de outubro de 1978 no município de Niterói, no Estado do Rio de Janeiro. Artista versátil, começou como ator de teatro e foi também humorista, diretor, roteirista e apresentador.
    Ele faleceu em 4 de maio de 2021 em decorrência da Covid-19. Nascido Paulo Gustavo Amaral Monteiro de Barros, ele foi criado em uma família de classe média e teve a oportunidade de estudar no tradicional Colégio Salesiano durante o ensino fundamental. 
    Sua bissexualidade foi assumida ainda ainda na adolescência, quando chegou a sofrer preconceito explícito de um professor. Ouviu que, em vez de ser ator, deveria ser "travesti".


  <p align="center">
    <img width="460" height="300" src="https://cdn.acritica.net/upload/dn_arquivo/2023/07/1688575638.jpg">
  </p>
  <h2 style="font-weight: bold;">Vida Pessoal</h2>

  <p>
    Paulo Gustavo oficializou a união com o dermatologista Thales Bretas em dezembro de 2015. Dois anos depois conta que seria pai ao lado do marido através de procedimento de barriga de aluguel, mas um aborto espontâneo ocorre durante a gestação.

    Os filhos gêmeos, Romeu e Gael, nasceram em 18 de agosto de 2019.
  </p>


  <p align="center">
    <img width="460" height="300" src="https://s2.glbimg.com/om_meFSgIbr8tB8eOr1zgF0ZD2w=/620x413/top/e.glbimg.com/og/ed/f/original/2021/03/30/abre-paulo-gustavo.jpg">
  </p>
  <h2 style="font-weight: bold;">Vida Artística</h2>

  <p>
    A visibilidade nos palcos surgiu no fim de 2004, na época em que integrou o elenco do espetáculo de humor "Surto", grande sucesso de público e crítica. Interpretava a divertida personagem Dona Hermínia, que se tornaria um dos papéis mais marcantes de sua carreira e que levaria para o cinema e TV.

Formado em janeiro 2005, Paulo Gustavo deixou o elenco da peça para fazer o espetáculo "Infraturas", em cartaz por nove meses, escrito por Fábio Porchat e com direção da atriz Malu Valle. Ainda em 2005, estreou nos palcos em "João Ternura", dirigido por Marcus Alvisi.

No ano seguinte estreou o monólogo "Minha Mãe É Uma Peça", escrito por ele com direção de João Fonseca. Paulo Gustavo volta a interpretar a personagem cômica Dona Hermínia, a dona de casa de meia idade que já havia sido apresentada ao público em "Surto", inspirada na mãe do artista.
  </p>

</ion-content>
</div>


<div id="footer">
  <footer>
    <p>&copy; 2023 - Todos os direitos reservados</p>
    Entre em contato pelo e-mail:
    <a  href="#" onclick="window.open('http://google.com', '_system', 'location=yes'); return false;"> institutopaulogustavo@gmail.com </a>  </footer>
</div>