<ion-menu contentId="main-content">

  <ion-content class="ion-padding">

    <img src="../../assets/icon/logo.png" alt="">
    <ion-item button routerLink="/home">
      <ion-label>Home</ion-label>
    </ion-item>

    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>

    <ion-item button routerLink="/cadastrar">
      <ion-label>Cadastrar</ion-label>
    </ion-item>

    <ion-item button routerLink="/ongs">
      <ion-label>ONGS LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/figuras">
      <ion-label>Figuras LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/trans">
      <ion-label>Comunidade TRANS</ion-label>
    </ion-item>
    
    <ion-item button routerLink="/paulogustavo">
      <ion-label>Paulo Gustavo</ion-label>
    </ion-item>
    
  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="../../assets/icon/logo.png" alt="" id="logo">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>




<h1>Entrevistas</h1>



  <ion-col>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eZPE2hXCUWM?si=EWe6_EXTsLlEoBvp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
      
<p>Essa entrevista nós fizemos com a aluna Kemilly Silva, que é uma pessoa da comunidade LGBTQIA+. Que se identifica como bissexual, gênero fluído. O intuito de ter entrevistado alguém dessa comunidade é ter uma base do que essas pessoas enfrentam diariamente diante da nossa sociedade que apesar de ter conhecimentos, ainda sim pode ser preconceituosa e problemática para alguns assuntos que não julgam “tradicional”. </p>

 </ion-col>


 <div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/dC9oUhRImXA?si=7zvwuTBlonNssM7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 </div>
     
<p> Já nesse segundo vídeo nós entrevistamos o professor Rui Otto, formado na área de biologia. O intuito dessa entrevista é desmentir alguns mitos e Fake News e ensinar as pessoas realmente o que significa algumas coisas dessa comunidade. Apesar desses mitos serem absurdos de se acreditar, muitas pessoas podem sim levar de uma forma séria e de fato acreditar nessas coisas que ouvem. </p>

 

    </ion-content>
  </div>


  <div id="footer">
    <footer>
      <h5>&copy; 2023 - Todos os direitos reservados</h5>
      Entre em contato pelo e-mail:
      <a href="mailto:institutopaulogustavo@gmail.com"> institutopaulogustavo@gmail.com</a>  </footer>
  </div>