<ion-menu contentId="main-content">
  
    
    
  <ion-content class="ion-padding">

  

    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>

    <ion-item button routerLink="/cadastrar">
      <ion-label>Cadastrar</ion-label>
    </ion-item>

    <ion-item button routerLink="/entrevistas">
      <ion-label>Entrevistas</ion-label>
    </ion-item>

    <ion-item button routerLink="/ongs">
      <ion-label>ONGS LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/figuras">
      <ion-label>Figuras LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/trans">
      <ion-label>Comunidade TRANS</ion-label>
    </ion-item>
    
    <ion-item button routerLink="/paulogustavo">
      <ion-label>Paulo Gustavo</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <ion-content [fullscreen]="true">

   





    <h2>Sobre Nós</h2>

    <section class="articles">
      
      <article>
    
        <div class="article-wrapper">
          <figure>
            <img src="../../assets/icon/card1.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>This is some title</h2>
            <p>
              Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            </p>
            
          </div>
        </div>
      </article>
      <article>
    
        <div class="article-wrapper">
          <figure>
            <img src="../../assets/icon/card2.png" alt="" />
          </figure>
          <div class="article-body">
            <h2>This is some title</h2>
            <p>
              Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            </p>
          </div>
        </div>
      </article>
    </section>

</ion-content>


</div>
  



<div id="footer">
  <footer>
  <p>&copy; 2023 - Todos os direitos reservados</p>
  Entre em contato pelo e-mail:
  <a  href="#" onclick="window.open('http://google.com', '_system', 'location=yes'); return false;"> institutopaulogustavo@gmail.com </a> <br>
  <a  href="#" onclick="window.open('https://br.freepik.com/'); return false;"> Banco de Imagens</a>
  </footer>
  </div>
  