<ion-menu contentId="main-content">
  
    
    
  <ion-content class="ion-padding">

  

    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>

    <ion-item button routerLink="/cadastrar">
      <ion-label>Cadastrar</ion-label>
    </ion-item>

    <ion-item button routerLink="/entrevistas">
      <ion-label>Entrevistas</ion-label>
    </ion-item>

    <ion-item button routerLink="/ongs">
      <ion-label>ONGS LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/figuras">
      <ion-label>Figuras LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/trans">
      <ion-label>Comunidade TRANS</ion-label>
    </ion-item>
    
    <ion-item button routerLink="/paulogustavo">
      <ion-label>Paulo Gustavo</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <ion-content [fullscreen]="true">



    <div class="container">
      <h4>Instituto Paulo Gustavo</h4>
      <p style="text-align:center; font-size: 20px; color: rgb(68, 68, 68);font-family:serif; " >No cenário atual, a luta pela igualdade de direitos e inclusão da comunidade LGBTQ+ é uma questão fundamental em todo o mundo. Neste contexto, o Instituto Paulo Gustavo emerge como uma luz de esperança e apoio, oferecendo um refúgio seguro e empoderamento para aqueles que enfrentam discriminação com base em sua orientação sexual e identidade de gênero. Neste breve texto introdutório, exploraremos o compromisso, os valores e os programas inovadores deste instituto fictício, que se dedica a criar um mundo mais justo e acolhedor para todos.</p>
    </div>
    

    <h3>Sobre Nós</h3>


    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(../../assets/icon/card1.png)"></div>
      </div>
      <div class="description">
        <h1>Nosso Objetivo</h1>
        <p>Informação Educativa: Fornecer recursos e informações educativas sobre questões relacionadas à comunidade LGBT+. Queremos disseminar conhecimento e desconstruir estereótipos, promovendo a compreensão e a empatia.</p>
     
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(../../assets/icon/card2.png)"></div>
      </div>
      <div class="description">
        <h1>Porquê Existimos?</h1>
        <p>Ofereceremos um espaço onde todos possam compartilhar suas histórias, desafios e sucessos. Estamos aqui para ouvir, apoiar e conectar pessoas que enfrentam situações semelhantes.</p>
    
      </div>
    </div>





</ion-content>


</div>
  



<div id="footer">
  <footer>
  <p>&copy; 2023 - Todos os direitos reservados</p>
  Entre em contato pelo e-mail:
  <a  href="#" onclick="window.open('https://br.freepik.com/'); return false;"> Banco de Imagens</a>
  </footer>
  </div>
  