<ion-menu contentId="main-content">
  
    
    
  <ion-content class="ion-padding">

  

    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>

    <ion-item button routerLink="/cadastrar">
      <ion-label>Cadastrar</ion-label>
    </ion-item>

    <ion-item button routerLink="/entrevistas">
      <ion-label>Entrevistas</ion-label>
    </ion-item>

    <ion-item button routerLink="/ongs">
      <ion-label>ONGS LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/figuras">
      <ion-label>Figuras LGBTQ+</ion-label>
    </ion-item>

    <ion-item button routerLink="/trans">
      <ion-label>Comunidade TRANS</ion-label>
    </ion-item>
    
    <ion-item button routerLink="/paulogustavo">
      <ion-label>Paulo Gustavo</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-img src="/Tcc/src/assets/imagens/logo.png" alt=""></ion-img>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    

    
   

    <h1>Somos uma instituição sem fins lucrativos, que tem como objetivo auxiliar e informar a comunidade LGBTQIA+, em nome do ator e comediante Paulo Gustavo.</h1>



<h2 style="color: black; font-size: 34px; text-align: center; font-weight: bold;">Sobre Nós</h2>


<div class="container">


<!-- Seção com cards -->
<section class="secao4" id="sobre">
<div class="secao4-div">

  <!-- Card 1 -->
  <div class="secao4-div-card">
      <img style="width:100%;" decoding="async" src="https://img.freepik.com/vetores-gratis/fundo-desenhado-a-mao-para-celebracao-do-mes-do-orgulho_23-2150306848.jpg?w=1380&t=st=1694778252~exp=1694778852~hmac=8b4f34228642af337d18c88994a293b39ca6e24c3f48b3aefdbb30f4b20d64a7" alt="">
      <p>Atuamos em defesa das pessoas LGBTQIA+, levando insformações sobre e para a comunidade.</p>
  </div>

  <!-- Card 2 -->
  <div class="secao4-div-card">
      <img style="width:100%;" decoding="async" src="https://img.freepik.com/vetores-gratis/fundo-desenhado-a-mao-para-celebracao-do-mes-do-orgulho_23-2150306857.jpg?w=1380&t=st=1694778438~exp=1694779038~hmac=fe91fdaf948994c98d1f206b85f2bc0434a566b9f419f525cb2d6d4692723346" alt="">
      <p>Descrição do card 2.</p>
  </div>

</div>
</section>
</div>

  


  </ion-content>
</div>




